# TP1 Sandbox
- This notebook can be used as a sandbox for you to explore the data and identify formating and sanitizing problems.
- You may also use it to compose the sample dataframes and test if the cleaning function output matches the expected result.
- As you validate your methods, create the corresponding function in `loader.py`
- Once your script is ready, you can import the loading function and use it to load a clean dataframe.

# Exploration space
## Imports

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [30]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 51)
pd.set_option('display.width', 1000)

## (Down)Load data

In [32]:

from loader import download_data
url_mtp = "https://data.montpellier3m.fr/sites/default/files/ressources/MMM_MMM_DAE.csv"


data_path = download_data(url_mtp)
data = pd.read_csv(data_path)

## Drop empty columns

In [33]:
data.dropna(
    axis='columns',
    how='all',
    inplace=True)
data

                                              nom         lat_coor1            x        long_coor1             y                               adr_num                              adr_voie  com_cp  com_insee      com_nom        acc acc_lib acc_pcsec acc_acc  acc_etg            acc_complt photo1 photo2                                             disp_j            disp_h disp_compl              tel1 tel2 site_email  date_insta         etat_fonct fab_siren fab_rais mnt_siren mnt_rais    modele   num_serie id_euro lc_ped  dtpr_lcped   dtpr_lcad    dtpr_bat      freq_mnt dispsurv        dermnt expt_siren        expt_rais         expt_tel1 expt_tel2                   expt_email            ref   id appartenan dae_mobile
0    Plateau sportif de GrammontTerrain 9, 10, 11  3.93392108647369  775412.3055  43.6136351580956  6.279844e+06                                                      avenue albert Einstein   34000      34172  Montpellier  intérieur     non       non     oui        0                                                lundi, mardi, mercredi, jeudi, vendredi  Heures ouvrables          -   334 67 64 87 70                   2017-12-1  En fonctionnement               ZOLL                     AED PLUS  X17I955734            oui  2021-02-02  2023-01-14   2022-12-1  tous les ans             2019-05-15  213401722  personne morale   334 67 34 70 00            mairie@ville-montpellier.fr  GARCIA  Serge   22     Mairie        non
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU                         0.0000                    0.000000e+00                                                                                   0          0                                                          0                                                                                                                                                                                                                                                                                                                                                                                                                                                 0  Métropole
2                 MEDIATHEQUE William SHAKESPEARE                         0.0000                    0.000000e+00                                                                                   0          0                                                          0                                                                                                                                                                                                                                                                                                                                                                                                                                                 0  Métropole
3                                            MIBI                         0.0000                    0.000000e+00                                                                                   0          0                                                          0                                                                                                                                                                                                                                                                                                                                                                                                                                                 0  Métropole
4                   MAISON POUR TOUS LEO LAGRANGE                         0.0000                    0.000000e+00                                   155                        Rue de Bologne   34172      34080  Montpellier  intérieur     oui       non     oui        0                                                lundi, mardi, mercredi, jeudi, vendredi  Heures ouvrables             +334 67 40 33 57                  2020-10-06  En fonctionnement               ZOLL                     AED PLUS  X19J215834                 2021-08-17  2024-12-28  2025-10-06  Tous les ans             2020-10-06  213401722  personne morale  +334 67 34 70 00            mairie@ville-montpellier.fr                   0     Mairie        non
..                                            ...               ...          ...               ...           ...                                   ...                                   ...     ...        ...          ...        ...     ...       ...     ...      ...                   ...    ...    ...                                                ...               ...        ...               ...  ...        ...         ...                ...       ...      ...       ...      ...       ...         ...     ...    ...         ...         ...         ...           ...      ...           ...        ...              ...               ...       ...                          ...            ...  ...        ...        ...
270                                Zoo de Lunaret  3.87346840734586  770497.5034  43.6409437259243  6.282823e+06                                                            avenue agropolis   34090      34172  Montpellier  intérieur     non       non     non        0  Réfectoire personnel                mardi, mercredi, jeudi, vendredi, samedi, dima...  Heures ouvrables              334 67 54 45 20                  2013-09-05  En fonctionnement               ZOLL                     AED PLUS  X13G616857                 2020-10-01  2023-09-09  2022-12-01  Tous les ans             2019-05-14  213401722  personne morale   334 67 34 70 00            mairie@ville-montpellier.fr        CORNIER    0     Mairie        non
271                            Gymnase Jean Bouin  3.82081921967322  766257.7753  43.6327880433471  6.281871e+06                                     -                   Avenue du Biterrois   34080      34172  Montpellier  interieur     non       non     non        0                                                lundi, mardi, mercredi, jeudi, vendredi  Heures ouvrables              334 67 75 44 43                  2019-11-01  En fonctionnement               ZOLL                     AED PLUS  X19J212182                 2021-10-26  2024-11-03  2024-11-01  Tous les ans             2019-11-01  213401722  personne morale   334 67 34 70 00            mairie@ville-montpellier.fr                   0     Mairie        non
272                      Centre Culturel Rabelais  3.88032026773112  771087.9776  43.6106902122358  6.279467e+06                                    29                     boulevard Sarrail   34000      34172  Montpellier  intérieur     non       non     oui        0                                                lundi, mardi, mercredi, jeudi, vendredi  Heures ouvrables              334 67 34 71 33                  2019-12-01  En fonctionnement               ZOLL                     AED PLUS  X19J215337                 2021-08-17  2024-12-28  2024-12-01    2019-12-01           Tous les ans  213401722  personne morale   334 67 34 70 00            mairie@ville-montpellier.fr                  76     Mairie        non
273                                                3.86982233698134  770237.7162  43.6127835439949  6.279690e+06  1 place Jacques Mirouse, MONTPELLIER  1 place Jacques Mirouse, MONTPELLIER   34000      34172  Montpellier  intérieur     non       non     non        0                                                                                                                                                                                                                                                                                                                                                                                                                                                 0
274                Maison pour tous André Chamson  3.83522303051943  767448.0725  43.6092732449105  6.279270e+06                                   105                    rue Gustave Eiffel   34070      34172  Montpellier  intérieur     non       non     oui        0                                                lundi, mardi, mercredi, jeudi, vendredi  Heures ouvrables              334 67 75 10 55                  2019-12-01  En fonctionnement               ZOLL                     AED PLUS  X19J215924                 2021-08-17  2024-12-28  2024-12-01  Tous les ans             2019-12-01  213401722  personne morale   334 67 34 70 00            mairie@ville-montpellier.fr                 118     Mairie

[275 rows x 49 columns]

## Keeping only columns of interest

We want to build a new dataframe containing:
- ID (the dataframe's index)
- Name
- Adress (including postal code (com_cp) and city name (com_nom))
- Contact phone number
- Maintenance frequency
- Latest maintenance date
- Longitude
- Latitude

In [34]:
kept_columns = [
    'nom', 'adr_num','adr_voie',
    'com_cp', 'com_nom', 
    'tel1',
    'freq_mnt', 'dermnt',
    'lat_coor1', 'long_coor1']
data_filter = data.filter(items=kept_columns)
pd.set_option('display.max_rows', 20)

data_filter

                                              nom                               adr_num                              adr_voie  com_cp      com_nom              tel1      freq_mnt        dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11                                                      avenue albert Einstein   34000  Montpellier   334 67 64 87 70  tous les ans    2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU                                                                                   0
2                 MEDIATHEQUE William SHAKESPEARE                                                                                   0
3                                            MIBI                                                                                   0
4                   MAISON POUR TOUS LEO LAGRANGE                                   155                        Rue de Bologne   34172  Montpellier  +334 67 40 33 57  Tous les ans    2020-10-06
..                                            ...                                   ...                                   ...     ...          ...               ...           ...           ...               ...               ...
270                                Zoo de Lunaret                                                            avenue agropolis   34090  Montpellier   334 67 54 45 20  Tous les ans    2019-05-14  3.87346840734586  43.6409437259243
271                            Gymnase Jean Bouin                                     -                   Avenue du Biterrois   34080  Montpellier   334 67 75 44 43  Tous les ans    2019-11-01  3.82081921967322  43.6327880433471
272                      Centre Culturel Rabelais                                    29                     boulevard Sarrail   34000  Montpellier   334 67 34 71 33    2019-12-01  Tous les ans  3.88032026773112  43.6106902122358
273                                                1 place Jacques Mirouse, MONTPELLIER  1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier                                                3.86982233698134  43.6127835439949
274                Maison pour tous André Chamson                                   105                    rue Gustave Eiffel   34070  Montpellier   334 67 75 10 55  Tous les ans    2019-12-01  3.83522303051943  43.6092732449105

[275 rows x 10 columns]

In [8]:
data_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nom         275 non-null    object
 1   adr_num     275 non-null    object
 2   adr_voie    275 non-null    object
 3   com_cp      275 non-null    int64
 4   com_nom     275 non-null    object
 5   tel1        275 non-null    object
 6   freq_mnt    275 non-null    object
 7   dermnt      275 non-null    object
 8   lat_coor1   275 non-null    object
 9   long_coor1  275 non-null    object
dtypes: int64(1), object(9)
memory usage: 21.6+ KB

## Extract problematic cases to specify cleaning functions

Use this space to explore the dataframe and identify problems in formatting and sanitizing. Save the indexes of interesting problematic cases in the following set `idx_problem_cases`, as you expore the data.

For instance, if you identify examples 3 and 45 to be dirty, add them to the set with:
`idx_problem_cases.update([3, 45])`

In [9]:
idx_problem_cases = set()

### Address data

In [10]:
#filters the DataFrame data_filter to include only the columns whose names start with "adr_" or "com_"
data_filter.filter(regex=r"adr_|com_")

                                  adr_num                              adr_voie  com_cp      com_nom
0                                                        avenue albert Einstein   34000  Montpellier
1                                                                                     0
2                                                                                     0
3                                                                                     0
4                                     155                        Rue de Bologne   34172  Montpellier
..                                    ...                                   ...     ...          ...
270                                                            avenue agropolis   34090  Montpellier
271                                     -                   Avenue du Biterrois   34080  Montpellier
272                                    29                     boulevard Sarrail   34000  Montpellier
273  1 place Jacques Mirouse, MONTPELLIER  1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier
274                                   105                    rue Gustave Eiffel   34070  Montpellier

[275 rows x 4 columns]

#### adr_num field

In [60]:
data_filter.adr_num.values

array([' ', ' ', ' ', ' ', '155', '154', '1', '3490', ' ', '20', '830',
       ' ', '135', '21', '280', '570', '14', '164', '41', '3', '28', ' ',
       '50', ' ', '10', '842', '2', '950', '14', '1', '2', ' ', '280',
       '6', '125', '655', '45', '158', '119', '14', '-', '1000', '85',
       '99', '13', '43', '170', '-', '424 - 460', '843', '196 - 156',
       '99', '300', '123', '110', '20', '230', '237', '67', '1933', '551',
       '971', '380', '100', '122', '26', '215', '-', '60', '-', ' ', '88',
       '1375', '183', '219 - 289', '45', '5', '117', '50', '8', '1',
       '19 bis', '1945', '789', '25', ' ', '1', ' ', '150', ' ', '18',
       '1', '237', '1071', '118', '111', '55', '280', ' ', ' ', '-', '-',
       '-', ' ', '50', '50', '2', '67', '419', '1184', ' ', '260', ' ',
       ' ', ' ', '175', ' ', ' ', '10', '13', '3', '1', '1247', '64', '7',
       '205', '1330', '74', '501', '-', '694 -700', '240', ' ', ' ', '16',
       '2', ' ', '1784', '50', '50', '50', '130', '18', ' ', ' ', '14',
       ' ', ' ', ' ', ' ', '39', ' ', '2', ' ', '545', '15', ' ', '700',
       ' ', '218', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ',
       ' ', ' ', '8', '104', '220', '2', '106', '205', '2', '80', '2',
       '200', '747', '3224', '717', ' ', '270', '29', '90', '29', '101',
       '34', '1', ' ', '1', '206', '2600', '2750', '33', '730', '905',
       '905', '1', '1', '1', '504', '129', '2', ' ', '1129', '1', '10',
       '245', '371', '765', '98', '1056', '1027', ' ', '1', ' ', '164',
       ' ', ' ', '125', '1', '220', '220', '201', '170', ' ', '1635',
       '257-269', '4', '263', '50', '2', '233', '130', ' ', '15', '2460',
       '10', '76', ' ', '40', ' ', '1401', '501', '121', '139', ' ', ' ',
       ' ', ' ', ' ', ' ', '778', '1482', '1037', ' ', '122', '26', '14',
       '9', '482', '44', '46', '50', ' ', '-', '29',
       '1 place Jacques Mirouse, MONTPELLIER', '105'], dtype=object)

In [64]:
data_filter[~data_filter['adr_num'].astype(str).str.isdigit()]

                                              nom                               adr_num                              adr_voie  com_cp      com_nom             tel1      freq_mnt      dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11                                                      avenue albert Einstein   34000  Montpellier  334 67 64 87 70  tous les ans  2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU                                                                                   0
2                 MEDIATHEQUE William SHAKESPEARE                                                                                   0
3                                            MIBI                                                                                   0
8                                            MOCO                                                                                   0
..                                            ...                                   ...                                   ...     ...          ...              ...           ...         ...               ...               ...
257                               CHRU lapeyronie                                               avenue du doyen gaston giraud       0  Montpellier                                             3.85081292585135  43.6313022653456
261                                         Cirad                                                            avenue agropolis       0  Montpellier                                             3.86843080997092  43.6504884332442
270                                Zoo de Lunaret                                                            avenue agropolis   34090  Montpellier  334 67 54 45 20  Tous les ans  2019-05-14  3.87346840734586  43.6409437259243
271                            Gymnase Jean Bouin                                     -                   Avenue du Biterrois   34080  Montpellier  334 67 75 44 43  Tous les ans  2019-11-01  3.82081921967322  43.6327880433471
273                                                1 place Jacques Mirouse, MONTPELLIER  1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier                                             3.86982233698134  43.6127835439949

[83 rows x 10 columns]

#### adr_voie field

In [53]:
data_filter.com_nom.unique()

array(['Montpellier', ' ', 'MONTPELLIER'], dtype=object)

In [58]:
print(data_filter[data_filter["com_nom"]=="MONTPELLIER"])
print(data_filter[data_filter["com_nom"]==" "])

                               nom adr_num                                         adr_voie  com_cp      com_nom             tel1      freq_mnt      dermnt         lat_coor1        long_coor1
108  Vestiaire/tribune CLAUDE BEAL     419  avenue du Dr Jacques Fourcade 34000 Montpellier   34000  MONTPELLIER  334 67 65 70 86  Tout les ans  2019-11-01  3.89668282061293  43.5911769531706
                                   nom adr_num             adr_voie  com_cp com_nom              tel1      freq_mnt      dermnt         lat_coor1        long_coor1
1    MEDIATHEQUE JEAN-JACQUES ROUSSEAU                                    0
2      MEDIATHEQUE William SHAKESPEARE                                    0
3                                 MIBI                                    0
8                                 MOCO                                    0
11                               BELEM                                    0
18            EHPAD "Michel BELORGEOT"      41  impasse des Moulins   34000          +334 67 40 04 44
19                 EHPAD Montpellieret       3            rue Fabre   34000          +334 67 66 14 98
21             MEDIATHEQUE Victor HUGO                                    0
23           MEDIATHEQUE GARCIA LLORCA                                    0
31          DAE Extérieur rue syracuse                 Rue syracuse   34000           334 67 34 70 26
109          Salle de sport Petit bard    1184     Rue Paul Rimbaud   34000           334 67 45 21 89  Tout les ans  2019-11-01  3.83642322163493  43.6171136119684

In [67]:
data_filter.adr_voie.values

array(['avenue albert Einstein', ' ', ' ', ' ', ' ', ' ', ' ', ' ',
       'Rue syracuse', 'Rue Georges Brassens', "Boulevard d'Antigone",
       'rue du lavandin', 'rue de la Croix du Sud', 'Rue des Araucarias',
       '-', '-', 'rue de Saint Hilaire 34000 Montpellier', 'rue durand',
       'Rue Pierre Gilles de Gennes', 'avenue de Heidelberg',
       'rue Jaques-Dalcroze', 'Rue de la Loge', "Avenue d'Heidelberg",
       'Place Alexandre Laissac', 'rue Pitot', 'Place Jacques-Brel',
       'avenue de la Vannière', 'Avenue de Malbosc',
       "Avenue Villeneuve d'Angoulème", 'Rue de Substantion',
       'avenue du Comté-de-Nice', 'Rue Mohamed V', 'Place de Tibériade',
       'rue Joan Miro', 'rue Jacques-Bounin', 'Place de France',
       'rond point Benjamin Franklin', 'avenue albert Einstein',
       'Parking comédie centre ville', 'Parking Corum',
       'avenue raymond Dugrand', 'Espace richter  avenue raymond Dugrand',
       'Espace richter Bât b Vendémiaire',
       'Espace richter Bât E, BIU, MdE, rue  Vendémiaire', ' ', ' ', ' ',
       ' ', ' ', ' ', 'place Eugène Bataillon', ' ', ' ', ' ', ' ', ' ',
       'rue Emile Jeanbreau', ' ', 'aenue Val de montferrand',
       'route de mende', 'rue du Professeur Henri Serre',
       'rue du Professeur Blayac', 'Place Pierre Flotte', 'Odysseum',
       'Place Jean antoine de Chaptal', 'allée Jules Milhau',
       "Carrefour de l'aeroport", 'rue de la Spirale',
       'rue de la Constituante', 'rue Vendémiaire', "rue de l'Ecole Mage",
       'place chaptal', 'avenue albert Einstein',
       'rue auguste broussonnet', 'rue de la valesière',
       'avenue augustin Fliche', 'rue du caduce', 'Pont Lapeyronie',
       'avenue du doyen gaston giraud', 'avenue agropolis',
       'avenue agropolis', 'Avenue du Biterrois',
       '1 place Jacques Mirouse, MONTPELLIER'], dtype=object)

#### com_cp field

In [66]:
data_filter[~data_filter['com_cp'].astype(str).str.isdigit()]

Empty DataFrame
Columns: [nom, adr_num, adr_voie, com_cp, com_nom, tel1, freq_mnt, dermnt, lat_coor1, long_coor1]
Index: []

In [16]:
data_filter.com_cp

0      34000
1          0
2          0
3          0
4      34172
       ...
270    34090
271    34080
272    34000
273    34000
274    34070
Name: com_cp, Length: 275, dtype: int64

#### com_nom field

In [17]:
data_filter.com_nom

0      Montpellier
1
2
3
4      Montpellier
          ...
270    Montpellier
271    Montpellier
272    Montpellier
273    Montpellier
274    Montpellier
Name: com_nom, Length: 275, dtype: object

In [62]:
data_filter.com_cp.unique()

array([34000,     0, 34172, 34267, 34070, 34090, 34080, 34263])

### Contact info

In [18]:
data_filter.tel1

0       334 67 64 87 70
1
2
3
4      +334 67 40 33 57
             ...
270     334 67 54 45 20
271     334 67 75 44 43
272     334 67 34 71 33
273
274     334 67 75 10 55
Name: tel1, Length: 275, dtype: object

In [68]:
split_phones = data_filter.tel1.str.split(expand=True)
split_phones

        0     1     2     3     4
0     334    67    64    87    70
1    None  None  None  None  None
2    None  None  None  None  None
3    None  None  None  None  None
8    None  None  None  None  None
..    ...   ...   ...   ...   ...
257  None  None  None  None  None
261  None  None  None  None  None
270   334    67    54    45    20
271   334    67    75    44    43
273  None  None  None  None  None

[83 rows x 5 columns]

In [71]:
not_five = split_phones.count(axis=1) != 5
not_zero = split_phones.count(axis=1) != 0
print(not_five)
print(not_five)
data_filter.tel1.loc[not_five & not_zero]

0      False
1       True
2       True
3       True
8       True
       ...
257     True
261     True
270    False
271    False
273     True
Length: 83, dtype: bool

69    -
70    -
Name: tel1, dtype: object

In [89]:
split_phones.iloc[40:80]

        0     1     2     3     4
146   334    34    43    24    44
147   334    34    43    23    33
148   334    67    15    85    46
149  None  None  None  None  None
151  None  None  None  None  None
..    ...   ...   ...   ...   ...
254  None  None  None  None  None
255  None  None  None  None  None
256  None  None  None  None  None
257  None  None  None  None  None
261  None  None  None  None  None

[40 rows x 5 columns]

In [90]:
data_filter.tel1.str.split(n=1, expand=True)[0].unique()

array(['334', None, '+334', '-'], dtype=object)

In [93]:
data_filter.tel1.values

array(['334 67 64 87 70', ' ', ' ', ' ', ' ', ' ', ' ', ' ',
       '334 67 34 70 26', '+334 67 52 77 92', '334 67 34 70 00',
       '334 67 42 54 64', '334 67 65 04 66', '334 67 10 06 05', '-', '-',
       '334 67 64 40 54', '334 67 34 70 89', '334 67 15 90 35',
       '334 67 75 74 16', '334 67 54 63 99\n', '334 67 34 70 00',
       '334 67 34 70 00', '334 67 34 70 00', '334 67 34 71 33',
       '334 67 40 40 11', '334 67 13 60 00', '334 99 63 46 29',
       '334 67 42 61 77', '334 67 79 76 77', '334 67 61 94 85',
       '334 67 52 30 80', '334 67 42 63 04', '334 67 20 35 50',
       '334 67 27 46 12', '334 99 52 26 00', '\n334 67 59 30 01',
       '\n334 67 22 83 78', '334 67 07 63 79', '334 67 07 63 79',
       '334 34 43 24 44', '334 34 43 23 33', '334 67 15 85 46', ' ', ' ',
       ' ', ' ', ' ', ' ', '334 67 14 31 11', '334 67 14 31 11',
       '334 67 14 31 11', '334 67 14 31 11', '334 67 14 31 11',
       '334 67 14 31 11', '334 67 14 31 11', '334 67 14 31 11',
       '334 67 14 31 11', '334 67 14 55 23', '334 67 14 55 23',
       '334 67 14 55 23', '334 67 10 40 10', '334 67 12 61 09', ' ',
       '334 67 34 78 86', '334 99 13 29 99', '334 67 20 63 63',
       '334 67 99 89 89', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ',
       ' ', ' ', ' ', '334 67 54 45 20', '334 67 75 44 43', ' '],
      dtype=object)

In [98]:
follows_pattern = data_filter.tel1.str.fullmatch(
    pat = r'33\d \d\d \d\d \d\d \d\d'
)

print ("Count of strings NOT matching the pattern: ")
data_filter.tel1[~follows_pattern].count()

Count of strings NOT matching the pattern:

33

In [107]:

pattern = r'33\d \d\d \d\d \d\d \d\d'

data_filter[~data_filter["tel1"].str.match(pattern) & data_filter["tel1"] != ""]

                                              nom                               adr_num                              adr_voie  com_cp      com_nom             tel1      freq_mnt      dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11                                                      avenue albert Einstein   34000  Montpellier  334 67 64 87 70  tous les ans  2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU                                                                                   0
2                 MEDIATHEQUE William SHAKESPEARE                                                                                   0
3                                            MIBI                                                                                   0
8                                            MOCO                                                                                   0
..                                            ...                                   ...                                   ...     ...          ...              ...           ...         ...               ...               ...
257                               CHRU lapeyronie                                               avenue du doyen gaston giraud       0  Montpellier                                             3.85081292585135  43.6313022653456
261                                         Cirad                                                            avenue agropolis       0  Montpellier                                             3.86843080997092  43.6504884332442
270                                Zoo de Lunaret                                                            avenue agropolis   34090  Montpellier  334 67 54 45 20  Tous les ans  2019-05-14  3.87346840734586  43.6409437259243
271                            Gymnase Jean Bouin                                     -                   Avenue du Biterrois   34080  Montpellier  334 67 75 44 43  Tous les ans  2019-11-01  3.82081921967322  43.6327880433471
273                                                1 place Jacques Mirouse, MONTPELLIER  1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier                                             3.86982233698134  43.6127835439949

[83 rows x 10 columns]

In [109]:
pattern = r'\+33\d \d\d \d\d \d\d \d\d'

data_filter[data_filter["tel1"].str.match(pattern)]

             nom adr_num              adr_voie  com_cp      com_nom              tel1 freq_mnt dermnt lat_coor1 long_coor1
40  Club Maillan       -  Rue Georges Brassens   34000  Montpellier  +334 67 52 77 92

In [114]:
data_filter[data_filter["tel1"] == "-"]

                                nom adr_num adr_voie  com_cp      com_nom tel1 freq_mnt dermnt         lat_coor1        long_coor1
69  Piscine centre nautique neptune       -        -       0  Montpellier    -                  3.81486877448227  43.6203748790079
70       Piscine Olympique Antigone                -       0  Montpellier    -                  3.89308121814824  43.6074454556324

### Latest maintenance date

date_filter.dermnt

### Latitude and longitude

In [19]:
data_filter.filter(regex=r"_coor")

            lat_coor1        long_coor1
0    3.93392108647369  43.6136351580956
1
2
3
4
..                ...               ...
270  3.87346840734586  43.6409437259243
271  3.82081921967322  43.6327880433471
272  3.88032026773112  43.6106902122358
273  3.86982233698134  43.6127835439949
274  3.83522303051943  43.6092732449105

[275 rows x 2 columns]

## Review selected cases and save as sample dirty data

In [72]:
idx_problem_cases = set()
idx_problem_cases.update([0, 1, 2, 3, 4, 34, 40, 69, 85, 108, 136, 270, 272, 273])

sample_dirty = data_filter.loc[list(idx_problem_cases)]
sample_dirty

                                              nom                               adr_num                                         adr_voie  com_cp      com_nom               tel1      freq_mnt        dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11                                                                 avenue albert Einstein   34000  Montpellier    334 67 64 87 70  tous les ans    2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU                                                                                              0
2                 MEDIATHEQUE William SHAKESPEARE                                                                                              0
3                                            MIBI                                                                                              0
4                   MAISON POUR TOUS LEO LAGRANGE                                   155                                   Rue de Bologne   34172  Montpellier   +334 67 40 33 57  Tous les ans    2020-10-06
34               Siège du CCAS (Banque d'Acceuil)                                   125                                 place  Thermidor   34000  Montpellier  +334 99  52 77 53                                             -  43.6020241317034
69                Piscine centre nautique neptune                                     -                                                -       0  Montpellier                  -                              3.81486877448227  43.6203748790079
40                                   Club Maillan                                     -                             Rue Georges Brassens   34000  Montpellier   +334 67 52 77 92
136                                      S.F.M.A.                                                                 avenue albert Einstein       0  Montpellier  \n334 67 22 83 78                              3.93573865229816   43.615604406629
108                 Vestiaire/tribune CLAUDE BEAL                                   419  avenue du Dr Jacques Fourcade 34000 Montpellier   34000  MONTPELLIER    334 67 65 70 86  Tout les ans    2019-11-01  3.89668282061293  43.5911769531706
270                                Zoo de Lunaret                                                                       avenue agropolis   34090  Montpellier    334 67 54 45 20  Tous les ans    2019-05-14  3.87346840734586  43.6409437259243
272                      Centre Culturel Rabelais                                    29                                boulevard Sarrail   34000  Montpellier    334 67 34 71 33    2019-12-01  Tous les ans  3.88032026773112  43.6106902122358
273                                                1 place Jacques Mirouse, MONTPELLIER             1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier                                                 3.86982233698134  43.6127835439949
85                       Gymnase François Spinosi                                                            Rue Pierre Gilles de Gennes   34000  Montpellier    334 67 15 90 35  tous les ans     2018-12-6  3.91771559166406  43.5989740313524

In [126]:
sample_dirty.to_csv('data/sample_dirty.csv')

In [73]:

sample_dirty['adr_num'] = pd.to_numeric(sample_dirty['adr_num'], errors='coerce')
mask_not_nan = ~sample_dirty['adr_num'].isna()
sample_dirty.loc[mask_not_nan, 'adr_num'] = sample_dirty.loc[mask_not_nan, 'adr_num'].astype(int)

print(sample_dirty)

extraction = sample_dirty.tel1.str.extract(
        pat=r"\+*(?:33)0*(\d)\s*(\d\d)\s*(\d\d)\s*(\d\d)\s*(\d\d)",
        expand=True
    )
extraction

                                              nom  adr_num                                         adr_voie  com_cp      com_nom               tel1      freq_mnt        dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11      NaN                           avenue albert Einstein   34000  Montpellier    334 67 64 87 70  tous les ans    2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU      NaN                                                        0
2                 MEDIATHEQUE William SHAKESPEARE      NaN                                                        0
3                                            MIBI      NaN                                                        0
4                   MAISON POUR TOUS LEO LAGRANGE    155.0                                   Rue de Bologne   34172  Montpellier   +334 67 40 33 57  Tous les ans    2020-10-06
34               Siège du CCAS (Banque d'Acceuil)    125.0                                 place  Thermidor   34000  Montpellier  +334 99  52 77 53                                             -  43.6020241317034
69                Piscine centre nautique neptune      NaN                                                -       0  Montpellier                  -                              3.81486877448227  43.6203748790079
40                                   Club Maillan      NaN                             Rue Georges Brassens   34000  Montpellier   +334 67 52 77 92
136                                      S.F.M.A.      NaN                           avenue albert Einstein       0  Montpellier  \n334 67 22 83 78                              3.93573865229816   43.615604406629
108                 Vestiaire/tribune CLAUDE BEAL    419.0  avenue du Dr Jacques Fourcade 34000 Montpellier   34000  MONTPELLIER    334 67 65 70 86  Tout les ans    2019-11-01  3.89668282061293  43.5911769531706
270                                Zoo de Lunaret      NaN                                 avenue agropolis   34090  Montpellier    334 67 54 45 20  Tous les ans    2019-05-14  3.87346840734586  43.6409437259243
272                      Centre Culturel Rabelais     29.0                                boulevard Sarrail   34000  Montpellier    334 67 34 71 33    2019-12-01  Tous les ans  3.88032026773112  43.6106902122358
273                                                    NaN             1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier                                                 3.86982233698134  43.6127835439949
85                       Gymnase François Spinosi      NaN                      Rue Pierre Gilles de Gennes   34000  Montpellier    334 67 15 90 35  tous les ans     2018-12-6  3.91771559166406  43.5989740313524

       0    1    2    3    4
0      4   67   64   87   70
1    NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN
4      4   67   40   33   57
34     4   99   52   77   53
69   NaN  NaN  NaN  NaN  NaN
40     4   67   52   77   92
136    4   67   22   83   78
108    4   67   65   70   86
270    4   67   54   45   20
272    4   67   34   71   33
273  NaN  NaN  NaN  NaN  NaN
85     4   67   15   90   35

In [74]:
sample_dirty['tel1'] = "0" + extraction[0].str.cat(extraction[[i for i in range(1,5)]])

In [75]:
sample_dirty

                                              nom  adr_num                                         adr_voie  com_cp      com_nom        tel1      freq_mnt        dermnt         lat_coor1        long_coor1
0    Plateau sportif de GrammontTerrain 9, 10, 11      NaN                           avenue albert Einstein   34000  Montpellier  0467648770  tous les ans    2019-05-15  3.93392108647369  43.6136351580956
1               MEDIATHEQUE JEAN-JACQUES ROUSSEAU      NaN                                                        0                      NaN
2                 MEDIATHEQUE William SHAKESPEARE      NaN                                                        0                      NaN
3                                            MIBI      NaN                                                        0                      NaN
4                   MAISON POUR TOUS LEO LAGRANGE    155.0                                   Rue de Bologne   34172  Montpellier  0467403357  Tous les ans    2020-10-06
34               Siège du CCAS (Banque d'Acceuil)    125.0                                 place  Thermidor   34000  Montpellier  0499527753                                             -  43.6020241317034
69                Piscine centre nautique neptune      NaN                                                -       0  Montpellier         NaN                              3.81486877448227  43.6203748790079
40                                   Club Maillan      NaN                             Rue Georges Brassens   34000  Montpellier  0467527792
136                                      S.F.M.A.      NaN                           avenue albert Einstein       0  Montpellier  0467228378                              3.93573865229816   43.615604406629
108                 Vestiaire/tribune CLAUDE BEAL    419.0  avenue du Dr Jacques Fourcade 34000 Montpellier   34000  MONTPELLIER  0467657086  Tout les ans    2019-11-01  3.89668282061293  43.5911769531706
270                                Zoo de Lunaret      NaN                                 avenue agropolis   34090  Montpellier  0467544520  Tous les ans    2019-05-14  3.87346840734586  43.6409437259243
272                      Centre Culturel Rabelais     29.0                                boulevard Sarrail   34000  Montpellier  0467347133    2019-12-01  Tous les ans  3.88032026773112  43.6106902122358
273                                                    NaN             1 place Jacques Mirouse, MONTPELLIER   34000  Montpellier         NaN                              3.86982233698134  43.6127835439949
85                       Gymnase François Spinosi      NaN                      Rue Pierre Gilles de Gennes   34000  Montpellier  0467159035  tous les ans     2018-12-6  3.91771559166406  43.5989740313524